/*
http://mfglabs.github.io/mfglabs-iconset/
*/

:root {
    --grau: #888;
    --hellgrau: #ccc;
    --dunkelgrau: #555;
    --abstand: 3px;
    --abstandMittel: 10px;
    --abstandGross: 20px;
    --halbdurchsichtig: hsla(0, 0%, 0%, 0.5);
    --hover: #ff0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    color: var(--halbdurchsichtig);
}

#ui {
    position: fixed;
    background-color: #fff;
    width: 320px;
    border: 1px solid #fff;
    border-radius: var(--abstand);
}

#ui .inner {
    position: relative;
    max-height: 800px;
    overflow-y: auto;
}

#uiTitle {
    position: relative;
    min-height: 30px;
    padding: var(--abstand);
    background-color: var(--grau);
    color: #fff;
}

.elTitle {
    position: relative;
    margin-bottom: 10px;
}


/* BUTTONS */

.closer {
    position: absolute;
    right: var(--abstandMittel);
}


/* TITLE */

#ui .title {
    background: var(--hellgrau);
    /*border-bottom: var(--grau) 1px solid;*/
    border-bottom: #fff 1px solid;
    padding-left: var(--abstand);
    cursor: pointer;
}

#ui .active .title {
    background-color: var(--dunkelgrau);
    color: #fff;
}

.translateFrom {
    display: none;
}

.translateTo {}


/* CONTENT */

.content {
    position: relative;
    display: none;
    padding: var(--abstand);
}

.active .content {
    display: block;
}

.textContent {
    font-weight: 400;
    font-size: 12px;
}


/* FILTER */

.filterBtn {
    position: relative;
    display: inline-block;
    padding: var(--abstand);
    margin-left: var(--abstand);
    background-color: var(--hellgrau);
    font-size: 12px;
    margin-right: var(--abstand);
    cursor: pointer;
}

.filterBtn.active {
    background-color: var(--hover);
}

.filterBtn:hover {
    background-color: var(--grau);
}


/* DETAILS */

.linkBtns {
    position: relative;
}

.linkBtns .linkBtn {
    position: relative;
    display: inline-block;
    background-color: var(--grau);
    padding: var(--abstand);
    width: 137px;
    margin: 2px;
    border-radius: 2px;
}

.linkBtns .linkBtn:hover {
    background-color: var(--dunkelgrau);
}

.linkBtns .linkBtn a {
    position: relative;
    display: block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.linkBtns .linkBtn:hover a {
    color: var(--hover);
    text-decoration: none
}

.info {
    position: relative;
    display: block;
    border-bottom: 1px solid var(--hellgrau);
    padding-bottom: var(--abstand);
    margin-bottom: var(--abstand);
}

.info .legende {
    color: var(--halbdurchsichtig);
    vertical-align: middle;
}

.info img {
    vertical-align: middle;
}

.info .legende:after {
    content: ': ';
}

.info .text {
    position: relative;
}

.infoIcon {
    width: 50px;
}

.lengthIcon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    transform-origin: bottom;
}

.lengthIcon.dino {
    opacity: .8;
}

.parentImgs {
    position: relative;
}

.imgLocation {
    position: absolute;
    display: block;
    width: 295px;
    top: 0;
    left: 0;
}

.imgLocation.sizeReference {
    position: relative;
}


/* Inputs */

.spalten2 input {
    position: relative;
    display: inline-block;
    width: 45%;
}

.spalten2 input:first-child {
    margin-right: var(--abstand);
}


/* Ancestry */

.ancestryChild {
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    margin-right: 2px;
    padding: var(--abstand);
    background-color: var(--hellgrau);
    line-height: auto;
    cursor: pointer;
    border-radius: 2px;
}

.ancestryChild:hover {
    background-color: var(--grau);
}

.ancestryChild:not(:last-child)::after {
    position: relative;
    display: inline-block;
    content: '>';
    padding-left: var(--abstand);
    padding-right: var(--abstand);
}


/* Results */

.results {
    max-height: 300px;
    overflow: auto;
    padding: var(--abstand);
}

.result {
    cursor: pointer;
    color: var(--dunkelgrau);
}

.result:hover {
    color: #000;
    background-color: var(--hellgrau);
}