@import './fonts.css';
@import './canvas.css';
@import './mfglabs_iconset.css';
@import './ui.css';
@import './effects.css';

html {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
